# Base de datos (Neon PostgreSQL)
DATABASE_URL="postgresql://USER:PASSWORD@HOST/DB?sslmode=require"
DIRECT_URL="postgresql://USER:PASSWORD@HOST/DB?sslmode=require"

# NextAuth.js
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="genera-con-openssl-rand-base64-32"

# Cloudinary
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""

# Formspree (formulario de contacto)
NEXT_PUBLIC_FORMSPREE_ID=""

# Admin (para seed inicial)
ADMIN_EMAIL="ivan.solis20.m@gmail.com"
ADMIN_PASSWORD=""
